body {
    font-family: Varela Round,sans-serif;
}

.form-wrapper {
    min-height: 100vh;
    background: linear-gradient(180deg,#4f2a93,#6133b4);
}

.background-image {
    background-image: url(/static/images/stars.png);
    background-repeat: repeat-x;
    position: absolute;
    height: 500px;
    width: 100%;
}

#login-form {
    margin: 0 auto;
    width: 37em;
    padding-top: 5em;
    padding-bottom: 4em;
    position: relative;
    z-index: 1;
}

.habitica-logo {
    width: 175px;
    height: 64px;
    margin: 2em auto 20px;
}

.form-group {
    margin-bottom: 1rem;
}

#login-form label {
    color: #fff;
    font-weight: 600;
    font-size: 15px;
}

#login-form input {
    width: 100%;
    height: 50px;
    padding-left: 8px;
    font-size: 13px;
    font-weight: 600;
    background-color: var(--dark);
    opacity: 80%;
    color: var(--light);
    outline: none;
    border: none;
    border-radius: 3px;
    background-clip: padding-box;
}

#login-form input:focus {
    border: 1px solid aqua;
    transition-duration: 0.1s;
}

#login-form button {
    margin-top: 0.8rem;
    margin-bottom: 15px;
}

#login-form button:hover {
    background-color: #19b6ce;
    transform: translateY(-1px);
    transition-duration: 0.4s;
}

.toggle-links {
    margin-top: 2rem;
}

.toggle-link {
    color: #fff;
}

.toggle-link:hover {
    text-decoration: underline;
}